
<span class="fancy-button">Click me!</span>

<span class="goofy-button">Big Red!</span>
<style>

  .fancy-button{
    background-color:blue;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    
    box-shadow: 1px -2px 67px 40px rgba(0,0,0,0.32)inset;
    -webkit-box-shadow: 1px -2px 67px 40px rgba(0,0,0,0.32)inset;
    -moz-box-shadow: 1px -2px 67px 40px rgba(0,0,0,0.32)inset;
  }

  .fancy-button:hoover{
    background-color: darkblue;
  }

  .fancy-button:active{
    background-color: purple; 
  }

  .goofy-button{
    background-color: red;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 1px -2px 67px 40px rgba(0,0,0,0.32);
    -webkit-box-shadow: 1px -2px 67px 40px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px -2px 67px 40px rgba(0,0,0,0.32);
  }

  .goofy-button:hoover{
    background-color: pink;
  }

  .goofy-button:active{
    background-color: yellow; 
  }
</style>
